        .navbar{
            list-style:none;
            background-color: black;
            overflow:hidden;
            padding:0;
        }

        .navbar a, .dropdown div{
            text-decoration:none;
            color: white;
            font-size: 24px;
            padding: 16px;
            display:inline-block;
        }

        .navbar li{
            float:left;
        }

        .navbar li:hover{
            background-color:#0062ff;
        }

        .dropdown-content{
            list-style:none;
            padding: 0;
            display:none;
            position:absolute;
            z-index:1;
            background-color: black;
        }

        .dropdown-content li{
            float:none;
        }

        .dropdown:hover .dropdown-content{
            display:block;
        }

        .active{
            background-color: #ff1768;
        }

        html{
            height: 100%;
        }

        body{
            background: linear-gradient(to right top, #1d2dcb, #1444c8, #2555c1, #3c64b7, #5471ab, #5d6996, #606281, #5e5c6e, #4b4450, #352e34, #1f1a1c, #000000);
            font-family: Verdana;
            color: white;
            font-size: 12px;
        }

        table, th , td{
            border: 3px solid crimson;
            border-collapse: collapse;
            text-align: left;
        }

        p.paragraph {
            width: 50%;
        }
